.wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.product {
  font-size: 40px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5%;
  border: 1px solid black;
  margin: 10px auto;
  padding-left: 5%;
  background-color: darkgrey;
}

.addButton {
  background-color: antiquewhite;
}
.productsList {
  font-size: 20px;
  margin: 20px auto;
}

.head-text {
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.cards {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 712px) {
  .head {
    flex-direction: column;
  }
}
